@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h3{
    font-family: 'Righteous', cursive;
    color : rgb(119, 32, 233);
}


nav{
	background : #fff;
}

.bar{
    background :rgb(119, 32, 233);
    padding : 80px !important;
    /*
    background : url("https://images.pexels.com/photos/7932264/pexels-photo-7932264.jpeg?cs=srgb&dl=pexels-andrew-neel-7932264.jpg&fm=jpg");
    background-image: cover; */
}

.popup{
    display : none;
}

.invis{
    display : flex;
    padding : 30px;
    background : rgba(0,0,0,0,0.6);
    height : 100vh;

}


.card_btns{
    background : rgb(100, 11, 243) !important;

}
.filds{
    max-width : 100%;
    padding : 20px;
}

.sub{
    background : purple;
    color : #fff;
}
input, .contact-btn, textarea{
    width: 300px !important;
    max-width: 100% !important;
}

